body{
    background-image: url(../HTML/pexels-pixabay-2150.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: whitesmoke;
}
section{
    height: 100vh;
}
p{
    text-align: justify;
    line-height: 100%;
}