body{
    background-image: url(imagem\ para\ a\ página\ web01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
ol{
    color: rgb(220, 122, 122);
    border: 5px solid black;
    background-color: rgb(185, 215, 241);
}
nav{
    text-align: center;
}
h2{
    background-color:rgb(150, 124, 124);
    border: solid;
}
a{
    color:antiquewhite;
}